[mysqld]
bind-address=0.0.0.0
port=3306
user=mysql
basedir=$MYSQL_PATH
datadir=$MYSQL_PATH/data
socket=$MYSQL_PATH/mysql.sock
log-error=$MYSQL_PATH/logs/mysql.err
pid-file=$MYSQL_PATH/logs/mysql.pid

[client]
socket=$MYSQL_PATH/mysql.sock
